# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# macOS
.DS_Store

# Virtual env
.venv/

# IDE
.idea/
.vscode/

# Build/Dist
build/
dist/
build_bundle/
dist_bundle/
release_assets/

# Local env/config  
.env
*.local

# Outputs
output.mp4
*.mp4
*.ts

release