# Dependencies
node_modules/
.venv/
venv/

# Build outputs
build/
dist/
*.egg-info/

# Cache
.mypy_cache/
.pytest_cache/
__pycache__/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Git
.git/

# Downloads
downloads/

# Settings
hls_gui_settings.ini